@font-face {
  font-family: "Noto Sans";
  src: url("fonts/NotoSans-VariableFont_wdth,wght.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Noto Sans";
  background-color: #111;
  font-size: 14px;
  color: #fff;
}

a {
  color: #9cdb7c;
}

form input,
form button {
  font-family: inherit;
  font-size: inherit;
  padding: 6px 25px;
  border: none;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #888;
  color: #474341;
}

form button {
  background-color: #c7bbb6;
  font-weight: 600;
  cursor: pointer;
}

form button:hover {
  background-color: #d6cbc6;
}

form button:active {
  background-color: #b8a9a3;
}
