@font-face {
  font-family: "Noto Sans";
  src: url("/fonts/NotoSans-VariableFont_wdth,wght.ttf") format("truetype");
}

* {
  font-synthesis: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Noto Sans";
  background-color: #111;
  font-size: 14px;
  color: #fff;
  --link: #9cdb7c;
  --green-1: #2aca52;
  --green-2: #32df5d;
  --green-3: #3fbd5e;
  --brown-1: #c7bbb6;
  --brown-2: #d6cbc6;
  --brown-3: #b8a9a3;
}

html,
body {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #222;
}

::-webkit-scrollbar-thumb {
  background: #333;
}

a {
  color: var(--link);
}

button,
input {
  font-family: inherit;
  font-size: inherit;
  border: none;
}

form input,
form button {
  padding: 6px 25px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #888;
  color: #474341;
}

form button {
  background-color: var(--brown-1);
  font-weight: 600;
  cursor: pointer;
  &:hover {
    background-color: var(--brown-2);
  }
  &:active {
    background-color: var(--brown-3);
  }
}

nav {
  background-color: #222;
  height: 50px;
  padding: 16px 16px 0;
}

nav button {
  padding: 5px 20px;
  font-size: 15px;
  font-weight: 500;
  color: #ddd;
  cursor: pointer;
  background: none;
  & > svg {
    margin-left: 2px;
    fill: #ddd;
  }
  &:hover {
    color: #fff;
    & > svg {
      fill: #fff;
    }
  }
  &:focus {
    font-weight: 800;
    outline: 1px solid #fff;
  }
}

main {
  height: calc(100vh - 50px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 8px;
  gap: 16px;
}
.card {
  display: flex;
  flex-direction: row;
  background: #222;
  padding: 24px;
  gap: 24px;
  & > section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    & > p {
      color: #aaa;
    }
    & > button {
      cursor: pointer;
      background-color: #333333;
      color: #fff;
      display: block;
      padding: 8px 4px;
      width: 120px;
      &:hover {
        background-color: #3d3d3d;
      }
      &:active {
        background-color: #2e2e2e;
      }
    }

    & > button:last-child {
      background-color: var(--green-1);
      &:hover {
        background-color: var(--green-2);
      }
      &:active {
        background-color: var(--green-3);
      }
    }
  }
}
